{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div class="page-header">
  <h1>Practices</h1>
  {{ formhelper.render_search(searchForm, 'practices_index', {}) }}
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Code</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  {% for r in registrations.items %}
    <tr>
      <td>
          <a class="btn btn-default" href="{{ url_for('recruits_index', code=r.code) }}"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</span></a>
      </td>
      <td>{{r.practice.code}}</td>
      <td>{{r.practice.name}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{{ formhelper.render_pagination(registrations, 'practices_index', search=searchForm.search.data) }}

{% endblock %}