Flask==2.3.2
Flask-SQLAlchemy
sqlalchemy<2.00
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
gunicorn
itsdangerous
pymysql
Flask-WTF
WTForms-Components
flask-security-too[fsqla,common]
pyyaml
weasyprint
Flask-WeasyPrint
flask_mail
python-dotenv
sqlalchemy-migrate
celery==4.4.2
urllib3
python-dateutil
Flask-Admin
wtforms[email]