{% extends "_subbase.html" %}

{% block base_content %}

<div id="main-wrapper">

  <header class="pageheader">
    <div class="container">
      <h1>GENVASC</h1>
    </div>
  </header>

  <div class="container">
    <nav class="navbar navbar-expand-lg">
      {% if current_user.is_active %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand fas fa-home" href="{{ url_for('ui.index') }}"></a>
          </li>
  
          {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ui.submissions_index') }}">Submissions</a>
            </li>
          {% endif %}
        </ul>
    
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/documentation">Site File Documentation</a>
                <a class="dropdown-item" href="{{ url_for('ui.help') }}">Help</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.full_name }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for_security('change_password') }}">Change Password</a>
                <a class="dropdown-item" href="{{ url_for_security('logout') }}">Log Out</a>
            </div>
          </li>
        </ul>
    
      {% endif %}
    </nav>
  </div>

  <div class="container">

    <div class="justify-content-center">
      <div class="alert alert-warning" role="alert">
          <i class="fas fa-exclamation"></i>
          <span class="sr-only">Warning:</span>
          We have redesigned our full and abbreviated participant information sheets.
          They now have our new logo, are on A4 sheets and the abbreviated sheet is in a larger font.
          The versions have not changed (full leaflet is version 4 and the abbreviated is version 3),
          so if you have existing stock this is still fine to use.  We hope you like them!
      </div>
    </div>

    <div class="justify-content-center">
      <div class="alert alert-warning" role="alert">
          <i class="fas fa-exclamation"></i>
          <span class="sr-only">Warning:</span>
          Important message to all recruiting sites.
          Patients attending their 5 year follow-up health
          check who are already GENVASC participants cannot
          be recruited a second time. Duplicate recruits
          will be excluded and you will not be reimbursed for their samples.
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

          {% set class="alert-info" %}
          {% set fas_class="fa-comment" %}

          {% if category == "warning" %}
            {% set class="alert-warning" %}
            {% set fas_class="fa-exclamation" %}
          {% elif category == "error" %}
            {% set class="alert-danger" %}
            {% set fas_class="fa-exclamation" %}
          {% elif category == "success" %}
            {% set class="alert-success" %}
            {% set fas_class="fa-check" %}
          {% endif %}


          <div class="justify-content-center">
            <div class="alert {{class}}" role="alert">
                <i class="fas {{fas_class}}"></i>
                <span class="sr-only">{{category}}:</span>
                {{message}}
            </div>
          </div>

        {% endfor %}
      {% endwith %}

      {% block errors %}{% endblock %}
  </div>
        
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container">
        Copyright &copy; {{ current_year }} NIHR Leicester Biomedical Research Centre
    </div>
  </footer>

</div>

{% endblock %}