{% extends "_subbase.html" %}

{% block base_content %}

  <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

          {% set class="alert-info" %}
          {% set gliph="glyphicon-info-sign" %}

          {% if category == "warning" %}
            {% set class="alert-warning" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "error" %}
            {% set class="alert-danger" %}
            {% set gliph="glyphicon-exclamation-sign" %}
          {% elif category == "success" %}
            {% set class="alert-success" %}
            {% set gliph="glyphicon-ok" %}
          {% endif %}


          <div class="alert {{class}}" role="alert">
            <span class="glyphicon {{gliph}}" aria-hidden="true"></span>
            <span class="sr-only">{{category}}:</span>
            {{message}}
          </div>
        {% endfor %}
      {% endwith %}
      
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
            Important message to all recruiting sites.
            Patients attending their 5 year follow-up health
            check who are already GENVASC participants cannot
            be recruited a second time. Duplicate recruits
            will be excluded and you will not be reimbursed for their samples.
      </div>

      {% block content %}{% endblock %}
  </div>

{% endblock %}

