{% extends "practices/_practice_base.html" %}
{% set tab = "recruits" %}
{% import "_formHelpers.html" as formhelper %}

{% block practice_content %}

<div class="page-header">
  {{ formhelper.render_search(searchForm, 'recruits_index',{} , code=practice_registration.code) }}
</div>

<ul class="list-group">
  {% for r in recruits.items %}
    <li class="list-group-item">
      <h4>{{ r.status.full_name }}</h4>
      <dl>
        <div>
            <dt>NHS Number</dt>
            <dd>{{ r.nhs_number }}</dd>
        </div>
        <div>
            <dt>Date of Birth</dt>
            <dd>{{ r.date_of_birth | date_format }}</dd>
        </div>
        <div>
            <dt>Recruited</dt>
            <dd>{{ r.date_recruited | date_format }}</dd>
        </div>
        {% if not r.user.is_system %}
          <div>
            <dt>Recruited By</dt>
            <dd>{{ r.user.full_name }}</dd>
          </div>
        {% endif %}
        <div>
          <dt>Status</dt>
          <dd>{{ r.status.status | default_if_none('Created') }}</dd>
        </div>
        <div>
          <dt>Study ID</dt>
          <dd>{{ r.status.study_id | blank_if_none }}</dd>
        </div>
        <div>
          <dt>Processed</dt>
          <dd>{{ r.status.processed_date | date_format }}</dd>
        </div>
        <div>
          <dt>Invoice</dt>
          <dd>{{ r.status.invoice_period | default_if_none('Not Invoiced') }}</dd>
        </div>
        <div>
          <dt>Submitted for Reimbursement</dt>
          <dd>{{ r.status.reimbursed_status | blank_if_none }}</dd>
        </div>
      </dl>
    </li>
  {% endfor %}
  </ul>

{{ formhelper.render_pagination(recruits, 'recruits_index', search=searchForm.search.data, code=practice_registration.code) }}

{% endblock %}