{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

    <h1>{{ practice.code }}: {{ practice.name }}</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if tab == 'recruits' %}active{% endif %}" href="{{ url_for('ui.recruits_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</span>
       </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'reimbursements' %}active{% endif %}" href="{{ url_for('ui.reimbursements_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Submissions</span>
       </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'delegates' %}active{% endif %}" href="{{ url_for('ui.delegates_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Staff</span>
       </a>
      </li>
    </ul>

  <section class='tab'>
    {% block practice_content %}{% endblock %}
  </section>

{% endblock %}