{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

    <header>
      <h1>
        <span>{{ practice.code }}: {{ practice.name | title_case }}</span>

        {% if practice.status_id == 0 %}
          {% set status_class="badge-warning" %}
        {% elif practice.status_id == 1 %}
          {% set status_class="badge-success" %}
        {% elif practice.status_id == 2 %}
          {% set status_class="badge-danger" %}
        {% endif %}
        
        <span class="float-right badge {{ status_class }}">{{ practice.status.name }}</span>

        {% if practice.genvasc_initiated %}
          <span class="float-right badge badge-success">GENVASC Initiated</span>
        {% else %}
          <span class="float-right badge badge-danger">Not GENVASC Initiated</span>
        {% endif %}
      </h1>

      {% if current_user.is_super %}
        <h2>To view and amend full practice details see <a href="https://uhlbriccsext.uhl-tr.nhs.uk/redcap/redcap_v7.2.2/DataEntry/record_home.php?pid={{practice.project_id}}&arm=1&id={{practice.code}}" target="_blank">REDCap</a></h2>
      {% endif %}

    </header>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if tab == 'recruits' %}active{% endif %}" href="{{ url_for('ui.recruits_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Recruits</span>
       </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'reimbursements' %}active{% endif %}" href="{{ url_for('ui.reimbursements_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Submissions</span>
       </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'delegates' %}active{% endif %}" href="{{ url_for('ui.delegates_index', code=practice.code) }}">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"> Staff</span>
       </a>
      </li>
    </ul>

  <section class='tab'>
    {% block practice_content %}{% endblock %}
  </section>

{% endblock %}