{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% block content %}

<div>
  <section>
    <h1>Practices</h1>

    {{ formhelper.render_search(searchForm, 'ui.practices_index') }}

    {% if practices.items | length > 0 %}

      <ul class="list-group">
        {% for p in practices.items %}
            <li class="list-group-item">
              <a href="{{ url_for('ui.recruits_index', code=p.code) }}">{{ p.code }}: {{ p.name }}</a>
            </li>
        {% endfor %}
      </ul>

    {% endif %}

    {{ formhelper.render_pagination(practices, 'ui.practices_index', search=searchForm.search.data) }}

  </section>

</div>

{% endblock %}