{% extends "practices/_practice_base.html" %}
{% set tab = "recruits" %}
{% import "_formHelpers.html" as formhelper %}

{% block practice_content %}

<div class="page-header">
  {{ formhelper.render_search(searchForm, 'ui.recruits_index', buttons={'PDF': 'ui.recruits_csv'} , code=practice.code) }}
</div>

<ul class="list-group">
  {% for r in recruits.items %}
    <li class="list-group-item">

      <header>
        <h1>
          <span>{{ r.full_name | title_case }}</span>

          {% if r.invoice_period | length > 0 %}
            <span class="float-right badge badge-info">Invoice: {{ r.invoice_period }}</span>
          {% endif %}

          {% if r.status == "Recruited" or r.status == "Available for cohort" %}
            <span class="float-right badge badge-success">{{ r.status }}</span>
          {% elif r.status == "Excluded" %}
            <span class="float-right badge badge-danger">{{ r.exclusion_text }}</span>
          {% elif r.status == "Withdrawn" %}
            <span class="float-right badge badge-warning">{{ r.status }}</span>
          {% else %}
            <span class="float-right badge badge-secondary">{{ r.status }}</span>
          {% endif %}
          
        </h1>
        <h2>Recruited on {{ r.recruited_date | date_format }}</h2>
      </header>

      <dl>
        <div class="row">

          <div class="col-sm-3 col-lg-2">
            <dt>Study ID</dt>
            <dd>{{ r.study_id | blank_if_none }}</dd>
          </div>

          <div class="col-sm-3 col-lg-2">
            <dt>NHS Number</dt>
            <dd>{{ r.nhs_number }}</dd>
          </div>

          <div class="col-sm-3 col-lg-2">
            <dt>Date of Birth</dt>
            <dd>{{ r.date_of_birth | date_format }}</dd>
          </div>

        </div>
      </dl>
    </li>
  {% endfor %}
  </ul>

{{ formhelper.render_pagination(
  recruits,
  'ui.recruits_index',
  searchForm,
  code=practice.code,
  ) }}

{% endblock %}