{% extends "practices/_practice_base.html" %}
{% set tab = "recruits" %}
{% import "_formHelpers.html" as formhelper %}

{% block practice_content %}

<div class="page-header">
  {{ formhelper.render_search(searchForm, 'ui.recruits_index', code=practice.code) }}
</div>

<ul class="list-group">
  {% for r in recruits.items %}
    <li class="list-group-item">

      <header>
        <h1>
          <span>{{ r.full_name }}</span>

          {% if r.invoice_period | length > 0 %}
            <span class="float-right badge badge-info">Invoice: {{ r.invoice_period }}</span>
          {% endif %}

          {% if r.status == "Recruited" %}
            {% set status_class="badge-success" %}
          {% elif r.status == "Available for cohort" %}
            {% set status_class="badge-success" %}
          {% elif r.status == "Excluded" %}
            {% set status_class="badge-danger" %}
          {% elif r.status == "Withdrawn" %}
            {% set status_class="badge-warning" %}
          {% else %}
            {% set status_class="badge-secondary" %}
          {% endif %}
          
          <span class="float-right badge {{ status_class }}">{{ r.status }}</span>
        </h1>
        <h2>Recruited on {{ r.date_recruited | date_format }} and processed on {{ r.processed_date | date_format }}</h2>
      </header>

      <dl>
        <div class="row">

          <div class="col-sm-3 col-lg-2">
            <dt>Study ID</dt>
            <dd>{{ r.study_id | blank_if_none }}</dd>
          </div>

          <div class="col-sm-3 col-lg-2">
            <dt>NHS Number</dt>
            <dd>{{ r.nhs_number }}</dd>
          </div>

          <div class="col-sm-3 col-lg-2">
            <dt>Date of Birth</dt>
            <dd>{{ r.date_of_birth | date_format }}</dd>
          </div>

        </div>
      </dl>
    </li>
  {% endfor %}
  </ul>

{{ formhelper.render_pagination(recruits, 'ui.recruits_index', search=searchForm.search.data, code=practice.code) }}

{% endblock %}